<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aplicaciones.moviles.proyectofinal">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal">
        <activity
            android:name=".WebHospital1"
            android:exported="false" />
        <activity
            android:name=".DetailEnfermedad4"
            android:exported="false" />
        <activity
            android:name=".DetailEnfermedad3"
            android:exported="false" />
        <activity
            android:name=".DetailEnfermedad2"
            android:exported="false" />
        <activity
            android:name=".DetailEnfermedad1"
            android:exported="false" />
        <activity
            android:name=".EnfermedadActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".HospitalActivity"
            android:exported="false" />
        <activity
            android:name=".AmbulanciaActivity"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>